<div class="row m-auto">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-1">About us</h1>
    <h1>Move and Groove is your everyday fitness companion</h1>
    <p>Move and Groove is an app to motivate you and keep track of your progress</p>
    <p>As you go through your health and healthy activities journey, you'll find it much easier to have our app keep
      track of your activities, time, date and review your progress</p>


    <h2>Move and Groove story</h2>
    <p>Move and Groove was create by  RtillaWork to help her with her weight loss challenge. Over time, the app was
      updated with more features and its now ready for prime time :) </p>

  </div>
</div>

