<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="shadow mb-3 rounded text-white" style="background-image:url(https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80); background-size: cover; background-position: center;">
        <div class="p-3 rounded d-flex justify-content-between flex-sm-row flex-column" style="background-color: rgba(0,0,0,0.5)">
          <div class="display-4">Running</div>
          <div class="d-flex align-items-center">
            <a href="#" class="btn btn-primary d-inline-block"><i class="fas fa-clock mr-2"></i> Start activity</a>
          </div>
        </div>
      </div>
      <div class="shadow mb-3 rounded text-white bg-center bg-cover" style="background-image:url(https://images.unsplash.com/photo-1520156676478-476f97cb33c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&q=60);">
        <div class="p-3 rounded d-flex justify-content-between" style="background-color: rgba(0,0,0,0.5)">
          <div class="display-4">Swimming</div>
          <div class="d-flex align-items-center">
            <a href="#" class="btn btn-primary d-inline-block"><i class="fas fa-clock mr-2"></i> Start activity</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

